<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <div class="bg-dark">
      <div class="container container-fluid mt-5">
        <div class="row mb-12 project">
          <header class="display-flex justify-space-between align-center">
            <nav>
              <a href="/">Home</a>
              <!-- Conditionally render login or logout links -->
              {{#if logged_in}}
              <a href="/profile" class="m-4">Dashboard</a>
              <button class="no-button text-link" id="logout">Logout</button>
              {{else}}
              <a href="/login" class="m-4">Login</a>
              {{/if}}
            </nav>
        </div>
        <div class="row mb-12 project">
          <div class="md-12">
            <h1>
              <h1 href="/">The Tech Blog</h1>
            </h1>
          </div>
        </div>
      </div>
    </div>
    </header>

    <div class="bg-lightgreen">
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer class="bg-lightgreen">

      </footer>
    </div>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>