<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <div class="container container-fluid mt-5">
    <div class="row mb-12 project">
    <header class="display-flex justify-space-between align-center">
      <nav>
        <a href="/">Home</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile" class="m-4">Dashboard</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login" class="m-4">Login</a>
        {{/if}}
      </nav>
      </div>
      <div class="row mb-12 project">
        <div class="md-12">
      <h1>
        <a href="/">The Tech Blog</a>
      </h1>
      </div>
      </div>
      </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
