<div class="row">
  <div class="col-md-6 project card no-padding">
    <h2 class="bg-dark text-default left-padding">Edit Post</h2>

    <form class="form update-form padding">
      <div class="form-group">
        <label for="post-title">title</label>
        <input class="form-input" placeholder="{{name}}" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-description">content</label>
        <input class="form-input" placeholder="{{description}}" type="text" id="post-description" />
      </div>
      <div class="form-group update-form">
        <a href="/profile" class="btn btn-primary text-light" type="submit" data-id="{{project.id}}">update</a>
      </div>
    </form>
  </div>
  </div>

  <script src="../public/js/post.js"></script>