html {
  background-color: #d1f1e0;
}

header, .project:not(:last-child) {
  /* border-bottom: 1px solid #ccc; */
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
  color: black;
  background-color: #d1f1e0;
  padding-left: .75rem;
  padding-right: .75rem;
  border-radius: 1rem;
}

a {
  color: #acd4be !important;
  text-decoration: none;
}

a:hover {
  color: #acd4be;
  text-decoration: none;
}

.text-link {
  color: #acd4be !important;
}

.bg-lightgreen {
  background-color: #d1f1e0;
}

.box-shadow {
  background-color: #d1f1e0;
  border-radius: 1rem;
  box-shadow: 0px 1px 12px rgba(124, 123, 123, 0.5);
}

.no-padding {
  padding: 0;
}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.left-padding {
  padding-left: 5px;
}

.link-hover:hover {
 color: #033319;
}